<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Car</title>
</head>
<body>
<h1>COMPANY FORM</h1>
<form method="POST" th:action="@{/saveCar}"
      th:object="${carInputDto}">
  <div class="form-group">
    <label for="modelName">Model Name</label>
    <input th:name="modelName"
    id="modelName"
    type="text"
    class="form-control"
    name="modelName" />
  </div>

  <div class="form-group">
    <label for="passengerCapacity">Passenger Capacity</label>
    <input th:name="passengerCapacity"
           id="passengerCapacity"
           type="text"
           class="form-control"
           name="passengerCapacity" />
  </div>

  <div class="form-group">
    <label for="companyId">Company</label>
    <select th:name="companyId">
      <option th:each="company : ${companyList}"
              th:value="${company.id}"
              th:utext="${company.companyName}"></option>
    </select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">
      REGISTER
    </button>
  </div>
</form>
</body>
</html>