<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Car</title>
</head>
<body>
<h1>CAR List</h1>
<table border="1">
  <tr>
    <th>idx</th>
    <th>model name</th>
    <th>passenger capacity</th>
    <th>company name</th>
    <th>company nation</th>
  </tr>
  <tr th:each="car : ${carList}">
    <td th:text="${car.id}"></td>
    <td th:text="${car.modelName}"></td>
    <td th:text="${car.passengerCapacity}"></td>
    <td th:text="${car.company.companyName}"></td>
    <td th:text="${car.company.companyNation}"></td>
  </tr>
</table>
<nav style="text-align: center">
  <ul class="pagination"
      th:with="start=${T(java.lang.Math).floor(carList.number/10) * 10 + 1},
      last=(${start + 9 < carList.totalPages ? start + 9 : carList.totalPages})">
    <li>
      <a th:href="@{./carList(page=1)}" aria-label="First">
        <span aria-hidden="true"> FIRST </span>
      </a>
    </li>

    <li th:class="${carList.first} ? 'disabled'">
      <a th:href="${carList.first} ? '#' : @{./carList(page=${carList.number})}" aria-label="Previous">
        <span aria-hidden="true"> &lt; </span>
      </a>
    </li>

    <li th:each="page: ${#numbers.sequence(start, last)}"
        th:class="${page == carList.number+1} ? 'active'">
      <a th:text="${page}" th:href="@{./carList(page=${page})}">&nbsp</a>
    </li>

    <li th:class="${carList.last} ? 'disabled'">
      <a th:href="${carList.last} ? '#': @{./carList(page=${carList.number + 2})}"
         aria-label="Next">
        <span aria-hidden="true"> &gt; </span>
      </a>
    </li>

    <li>
      <a th:href="@{./carList(page=${carList.totalPages})}" aria-label="Last" }>
        <span aria-hidden="true">Last</span>
      </a>
    </li>
  </ul>
</nav>
</body>
</html>